@import "compass/css3";
body {
  background: white;
  font-family: "system-ui";
  font-weight: 800;
  font-style: italic;
  letter-spacing: -1.5px;
}
.glitch {
  color: black;
  font-size: 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: calc(50% - 24px);
  left: calc(50% - 24px);
}

.glitch .layer {
  position: absolute;
}

@keyframes noise-anim {
  0% {
    clip: rect(43px, 9999px, 46px, 0);
  }
  5% {
    clip: rect(72px, 9999px, 6px, 0);
  }
  10% {
    clip: rect(98px, 9999px, 37px, 0);
  }
  15% {
    clip: rect(11px, 9999px, 19px, 0);
  }
  20% {
    clip: rect(31px, 9999px, 81px, 0);
  }
  25% {
    clip: rect(44px, 9999px, 78px, 0);
  }
  30% {
    clip: rect(53px, 9999px, 98px, 0);
  }
  35% {
    clip: rect(37px, 9999px, 100px, 0);
  }
  40% {
    clip: rect(77px, 9999px, 6px, 0);
  }
  45% {
    clip: rect(94px, 9999px, 88px, 0);
  }
  50% {
    clip: rect(96px, 9999px, 96px, 0);
  }
  55% {
    clip: rect(76px, 9999px, 66px, 0);
  }
  60% {
    clip: rect(38px, 9999px, 45px, 0);
  }
  65% {
    clip: rect(21px, 9999px, 26px, 0);
  }
  70% {
    clip: rect(55px, 9999px, 73px, 0);
  }
  75% {
    clip: rect(57px, 9999px, 15px, 0);
  }
  80% {
    clip: rect(2px, 9999px, 99px, 0);
  }
  85% {
    clip: rect(4px, 9999px, 45px, 0);
  }
  90% {
    clip: rect(65px, 9999px, 97px, 0);
  }
  95% {
    clip: rect(65px, 9999px, 9px, 0);
  }
  100% {
    clip: rect(34px, 9999px, 14px, 0);
  }
}
/* .glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: black;
  background: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
} */
@keyframes noise-anim-2 {
  0% {
    clip: rect(84px, 9999px, 52px, 0);
  }
  5% {
    clip: rect(73px, 9999px, 56px, 0);
  }
  10% {
    clip: rect(71px, 9999px, 37px, 0);
  }
  15% {
    clip: rect(99px, 9999px, 19px, 0);
  }
  20% {
    clip: rect(88px, 9999px, 63px, 0);
  }
  25% {
    clip: rect(48px, 9999px, 74px, 0);
  }
  30% {
    clip: rect(78px, 9999px, 10px, 0);
  }
  35% {
    clip: rect(45px, 9999px, 88px, 0);
  }
  40% {
    clip: rect(98px, 9999px, 10px, 0);
  }
  45% {
    clip: rect(7px, 9999px, 52px, 0);
  }
  50% {
    clip: rect(61px, 9999px, 21px, 0);
  }
  55% {
    clip: rect(40px, 9999px, 44px, 0);
  }
  60% {
    clip: rect(98px, 9999px, 86px, 0);
  }
  65% {
    clip: rect(98px, 9999px, 51px, 0);
  }
  70% {
    clip: rect(51px, 9999px, 33px, 0);
  }
  75% {
    clip: rect(65px, 9999px, 56px, 0);
  }
  80% {
    clip: rect(96px, 9999px, 57px, 0);
  }
  85% {
    clip: rect(26px, 9999px, 91px, 0);
  }
  90% {
    clip: rect(10px, 9999px, 39px, 0);
  }
  95% {
    clip: rect(11px, 9999px, 65px, 0);
  }
  100% {
    clip: rect(11px, 9999px, 67px, 0);
  }
}

/* .glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: black;
  background: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
} */

.glitch .layer-2 {
  left: 2px;
  top: 0;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 3s infinite linear alternate-reverse;
  background-color: #fff;
}
.glitch .layer-2 > svg {
  -webkit-filter: drop-shadow(-1px 1px rgba(23, 0, 255, 1));
  filter: drop-shadow(-1px 1px rgba(23, 0, 255, 1));
}

.glitch .layer-3 {
  left: -2px;
  top: 0;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 2s infinite linear alternate-reverse;
}
.glitch .layer-3 > svg {
  -webkit-filter: drop-shadow(2px -1px rgba(255, 2, 0, 1));
  filter: drop-shadow(2px -1px rgba(255, 2, 0, 1));
}
