@import "compass/css3";

body {
  background: white;
  font-family: 'system-ui';
  font-weight: 800;
  font-style: italic;
  letter-spacing: -1.5px;
}

.glitch{
  color: black;
  font-size: 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
}
@keyframes noise-anim{
  $steps: 20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:after{
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: black;
  background: white;
  overflow: hidden;
  clip: rect(0,900px,0,0); 
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2{
  $steps: 20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:before{
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue; 
  top: 0;
  color: black;
  background: white;
  overflow: hidden;
  clip: rect(0,900px,0,0); 
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
